html, body {
    height: 100%;
    width: 100%;
    min-width: 800px;
    font-family: "Microsoft Yahei", Helvetica, arial, sans-serif, FontAwesome !important;
}
*{
    padding: 0;
    margin: 0;
}
body {
    background: #e0e0e0;
}

.width_1 {
    width: 100%;
}

.width_2 {
    width: 100%;
}

.width_3 {
    width: 100%;
}

.center {
    text-align: center;
}

.circle {
    border-radius: 50%;
}

.large {
    width: 200px;
    height: 200px;
}

.middle {
    width: 100px;
    height: 100px;
}

.small {
    width: 50px;
    height: 50px;
}

/*single*/
.warp {
    min-height: 100%;
    margin: 0 auto;
    background-color: #FFF;
    transition-duration: 0.5s;

}

.resume_header {
    padding: 50px 0 0px 0;
    background: #66cccc;
    color: #FFF
}
.nav_item{
    height:40px;
    width: 100px;
    color: #FFF;
    line-height: 40px;
    text-align: center;
    display: block;
    background: #66cccc;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 20px 0px;
}
.svg_path {
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: dash 3s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@media screen and (min-width: 1200px) {
    .warp {
        width: 1000px;
    }
}

@media screen and (max-width:1199px) and (min-width: 992px) {
    .warp {
        width: 992px;
    }

}

@media screen and (max-width:991px){
    .warp {
        width: 100%;
    }
}
